/* 
  Variables
*/

// Colors
$grey: #666;
$greyish: #333;
$greyish: #111;
$black: #000;
$white: #FFF;
$default: #33b5e5;
$default-dark: #33b5e5;
$success: #00C851;
$success-dark: #007e33;
$warning: #ffbb33;
$warning-dark: #ff8800;
$error: #ff4444;
$error-dark: #CC0000;
