<section class="color-samples">
        <h3 class="color-samples__subtitle">Colors</h3>
        <hr>
        <ul class="color-samples__list">
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--grey"></div>
          </li>
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--greyish"></div>
          </li>
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--greyest"></div>
          </li>
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--black"></div>
          </li>
        </ul>
        
        <ul class="color-samples__list">
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--default"></div>
          </li>
           <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--success"></div>
          </li>
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--warning"></div>
          </li>
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--error"></div>
          </li>
        </ul>
        
            <ul class="color-samples__list">
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--default-dark"></div>
          </li>
           <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--success-dark"></div>
          </li>
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--warning-dark"></div>
          </li>
          <li class="color-samples__list-item">
            <div class="color-samples__swatch color-samples__swatch--error-dark"></div>
          </li>
        </ul>
</section>